.row {
    margin-left: 20px;
    color: #fff;
    padding: 20px 0;
}

.posters {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 20px 0;
    scroll-behavior: smooth;
}

.posters::-webkit-scrollbar {
    height: 5px;
}

.posters::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
}

.posters::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.poster-wrapper {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    border-radius: 5px;
    overflow: hidden;
    flex-shrink: 0;
}

.poster, .small-poster {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.poster {
    max-height: 250px;
}

/* Increased size of the small poster */
.small-poster {
    max-height: 200px; /* Increased from 150px to 180px */
}

.poster-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.poster-wrapper:hover .poster-info {
    opacity: 1;
}

.poster-wrapper:hover img {
    transform: scale(1.05);
}

.poster-info h3 {
    margin: 0;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.poster-info p {
    margin: 5px 0 0;
    font-size: 12px;
}

.small-row .poster-wrapper {
    width: 300px; /* Adjust width to match the increased height */
}

@media (max-width: 768px) {
    .row {
        margin-left: 10px;
    }

    .poster {
        max-height: 200px;
    }

    /* Increased size for small posters on smaller screens */
    .small-poster {
        max-height: 120px; /* Increased from 100px to 120px */
    }
}
